@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-body: "Inter", sans-serif;
  --animate-fade-in-down: fadeInDown 0.2s ease-out;
  --animate-fade-in-up: fadeInUp 0.6s ease-out forwards;
  --animate-fade-in-up-delay-1: fadeInUp 0.6s ease-out forwards 0.3s;
  --animate-fade-in-up-delay-2: fadeInUp 0.6s ease-out forwards 0.6s;
  --animate-slideUpText: slideUpText 6s ease-in-out infinite;

  --breakpoint-sm: 350px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1000px;
  --breakpoint-xl: 1200px;

  @keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-in-up {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-100px);
    }
  }

  @keyframes slideUpText {
    0%,
    30% {
      transform: translateY(0%);
    }
    35%,
    40% {
      transform: translateY(-100%);
    }
    45%,
    75% {
      transform: translateY(-100%);
    }
    80%,
    85% {
      transform: translateY(-200%);
    }
    90%,
    100% {
      transform: translateY(0%);
    }
  }
}

/* Hero section animations */
.animate-slideUpText {
  animation: slideUpText 6s ease-in-out infinite;
}

html {
  scroll-behavior: smooth;
}
